html,	body{
	background-image: linear-gradient(#0D1321, #3E5C76);
	top:0;
	left:0;
	margin:0;
	height:150%;
}


h1 {
	font-size: 70px;
	font-family: 'Crimson Text', serif;
	color: white;
	position: absolute;
	left: 25%;
	top: 36%;
	font-weight: lighter;
}

h3	{
	display: inline-block;
	font-family: 'Crimson Text', serif;
	color: white;
	position: absolute;
	left: 44%;
	top: 90%;
	transform: translateX(0px);
	animation: 0.8s slide linear infinite;
	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
}	

.menu{
	font-family: 'Amatic SC', cursive;
}

@keyframes slide {
  to { transform: translateX(750px); }
}


.lifelineone {
	position: absolute;
	top: 120px;
	left: 0px;
}

.lifelinetwo {
	position: absolute;
	top: 130px;
	right: 40px;
	transform: scale(-1);
}

#nightmare p {
	position: absolute;
	top: 135%;
	left: 70%;
	color: white;
	font-size: 60px;
}

#truth h2 {
	position: absolute;
	top: 160%;
	left: 12%;
	color: white;
	font-size: 60px;
}

#realization h2 {
	position: absolute;
	top: 195%;
	left: 55%;
	color: white;
	font-size: 60px;
}

h2:hover {
	transform: scale(2);
}

