html, body{
	height: 125%;
	background-color: #EAE8E0; }

#content-wrapper{
    margin: 0 auto;
    min-height: 1150px;
    max-width: 650px ;
}

h1{
font-size: 60px;
  font-family: 'Bebas Neue', cursive;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #544B3D;
  position: relative;
}

@keyframes title{
	to { transform:scale(0.3);  }
}

.title{
  position: relative;
  top: 350px;
  display: flex;
  height: 650px;
  justify-content: space-around;
  align-items: flex-start;
}

.title h1{
	animation: 1.5s title linear ;
	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
	position: sticky;
  position: -webkit-sticky;
  top: 2rem;
}


.folder img{
	width: 90px;
	margin: 0;
	padding: 0;
	position: relative;
	top: 180px;
	left: 280px;
	cursor: pointer;
	z-index: 3;
}

.folder img:hover{
	transform: scale(1.2)
}	

h2{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	color: #E77432;
}

/*.archive div{
margin: 0 auto;
    display: flex;
    width: 100%;
}*/

#one img  {
	width: 150px;
	position: relative;
	top: -50px;
	left: 600px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}
#one h2{
	font-size: 50px;
	position: relative;
	top: -100px;
	left: 630px;
	z-index: 2;
	visibility: hidden;
}

#two img  {
	width: 150px;
	position: relative;
	margin: 0;
	padding: 0;
	top: 10px;
	left: -50px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}
#two h2{
	font-size: 50px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -60px;
	left: 50px;
	z-index: 2;
	visibility: hidden;
}

#three img  {
	width: 150px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -430px;
	left: -250px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}
#three h2{
	margin: 0;
	padding-right: 50%;
	font-size: 50px;
	position: relative;
	top: -450px;
	left: -250px;
	z-index: 2;
	visibility: hidden;
}


#four img  {
	width: 150px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -150px;
	left: 680px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}
#four h2{
	margin: 0;
	padding-right: 50%;
	font-size: 50px;
	position: relative;
	top: -250px;
	left: 780px;
	z-index: 2;
	visibility: hidden;
}

#five img  {
	width: 140px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -500px;
	left: -60px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}

#five h2{
	margin: 0;
	padding-right: 0%;
	font-size: 50px;
	position: relative;
	top: -600px;
	left: 80px;
	z-index: 2;
	visibility: hidden;
}

#six img  {
	width: 160px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -30px;
	left: 380px;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}

#six h2{
	margin: 0;
	padding-right: 0%;
	font-size: 50px;
	position: relative;
	top: -120px;
	left: 45px;
	z-index: 2;
	visibility: hidden;
}

#access img{
	width: 10%;
	position: absolute;
	top: 118vh;
	left: 24vw;
	visibility: hidden;
	z-index: 2;
}

#access2 img{
	width: 10%;
	position: absolute;
	top: 132vh;
	left: 54vw;
	visibility: hidden;
	z-index: 2;
}


