html, body{
	background-color: #EAE8E0;
	width: 100%;
	height: auto;
	overflow-y: hidden;
/*	overflow-x: hidden;*/
}

#content-wrapper{
    margin: 0;
    min-height: 500px;
    max-width: 1500px ;
}

h3{
	font-family: 'Bebas Neue', cursive;
	 color: #544B3D;
	 position: fixed;
	 top: 20px;
	 left: 80px;
	 font-size: 30px;
}

.back img{
	width: 70px;
	position: fixed;
	left: 90vw;
	top:40px;
	display: inline-block;
	z-index: 3;
}

.back img:hover{
	transform: scale(1.2)
}

#selector {
		margin:4% 0%;
		left:43vw;
		width:100%;
		position: fixed;
		top: 85vh;

	}
	.option {
		display:inline-block;
		margin:0% 0.5%;
		width:0.7em;
		height:0.7em;
		background-color:#EAE8E0;
		border:0.1em solid #666666;
		border-radius:50%;
		cursor:pointer;
		transition:0.25s ease-in-out;
	}
	.option:hover {
		background-color:#666666;
	}

	.nav img{
		width: 6em;
		position: fixed;
	}

#right {
	position: fixed;
	top: 45vh;
	left:85vw;
	cursor: pointer;
	z-index: 1;
}

#left {
	position: fixed;
	top: 45vh;
	left:5vw;
	cursor: pointer;
	z-index: 1;
}


h1{
	font-family: 'Playfair Display', serif;
	color: #E77432;
	font-size: 60px;
	text-align: center;
	position: relative;
	top: 45vh;
	cursor: default;
	margin: 0;
	scroll-snap-align: start;
}

h2 {
	font-family: 'Barlow', sans-serif;
	color: #544B3D;
	font-size: 30px;
	text-align: left;
	padding-right: 50%;
	position: relative;
	top: 30vh;
	left: 2vw;
	scroll-snap-align: start;
}

#page2 {
		display:inline-block;
		width:65%;
		height:auto;
		vertical-align:top;
		margin:0%;
		scroll-snap-align: start;
		position: relative;
		left: 105vw;
		top: -12vh;
	}

#page3 {
		display:inline-block;
		width:70%;
		height:100px;
		margin:0%;
		scroll-snap-align: start;
		position: relative;
		left: 200vw;
		top: -25vh;
	}
video{
	position: relative;
	top: 32vh;
	left: -1vw;
	cursor: pointer;
}


#page4 {
		display:inline-block;
		width:70%;
		height:auto;
		margin:0%;
		scroll-snap-align: start;
		position: relative;
		left: 295vw;
		top: -70vh;
	}

#page4 img{
	position: relative;
	top: 32vh;
	left: -2vw;
}

h4{
	font-family: 'Playfair Display', serif;
	color: #E77432;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: -60vh;
	left: -38vw;
	margin: 0;
	transform:rotate(270deg);
}

#circle1 img{
	position: relative;
	top: -11vh;
	left: 26vw;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

#rectangle img{
	position: relative;
	top: -32vh;
	left: 4vw;
	cursor: pointer;
	opacity: 0;
}

p{
	position: relative;
	top: -15vh;
	left: -17vw;
	font-family: 'Barlow', sans-serif;
	color: #544B3D;
	font-size: 20px;
	text-align: center;
	margin: 0;
	visibility: hidden;
}

h5{
	font-family: 'Barlow', sans-serif;
	color: #544B3D;
	font-size: 20px;
	text-align: left;
	padding-right: 90%;
	position: relative;
	top: -33vh;
	left: 40vw;
	margin: 0;
	visibility: hidden;
}

#page5 {
		display:inline-block;
		width:70%;
		height:auto;
		margin:0%;
		scroll-snap-align: start;
		position: relative;
		left: 395vw;
		top: -170vh;
	}

h6{
	font-family: 'Playfair Display', serif;
	color: #E77432;
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 50vh;
	left: -18vw;
	cursor: pointer;
	margin: 0;
	scroll-snap-align: start;
}

h6:hover{
	color: #544B3D;
}
